@font-face {
  font-family: "KyivTypeVariableSerif";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
}

@font-face {
  font-family: "KyivTypeVariableSerif300";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "KyivTypeVariableSerif500";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "KyivTypeVariableSerif600";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "KyivTypeVariableSerif700";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "KyivTypeVariableSerif800";
  src: url("./KyivTypeVariableSerif/font.woff2") format("woff2"),
    url("./KyivTypeVariableSerif/font.woff") format("woff");
  font-weight: 800;
}

.font-serif {
  font-family: KyivTypeVariableSerif;
}

.font-serif-300 {
  font-family: KyivTypeVariableSerif300;
}

.font-serif-500 {
  font-family: KyivTypeVariableSerif500;
}

.font-serif-600 {
  font-family: KyivTypeVariableSerif600;
}

.font-serif-700 {
  font-family: KyivTypeVariableSerif700;
}

.font-serif-800 {
  font-family: KyivTypeVariableSerif800;
}

/* ------------------------------------------------------------ */

@font-face {
  font-family: "KyivTypeVariableTitling";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
}

@font-face {
  font-family: "KyivTypeVariableTitling300";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "KyivTypeVariableTitling500";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "KyivTypeVariableTitling600";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "KyivTypeVariableTitling700";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "KyivTypeVariableTitling800";
  src: url("./KyivTypeVariableTitling/font.woff2") format("woff2"),
    url("./KyivTypeVariableTitling/font.woff") format("woff");
  font-weight: 800;
}

.font-tilt {
  font-family: KyivTypeVariableTitling;
}

.font-tilt-300 {
  font-family: KyivTypeVariableTitling300;
}

.font-tilt-500 {
  font-family: KyivTypeVariableTitling500;
}

.font-tilt-600 {
  font-family: KyivTypeVariableTitling600;
}

.font-tilt-700 {
  font-family: KyivTypeVariableTitling700;
}

.font-tilt-800 {
  font-family: KyivTypeVariableTitling800;
}

/* ------------------------------------------------------------ */

@font-face {
  font-family: "KyivTypeVariableSans";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
}

@font-face {
  font-family: "KyivTypeVariableSans300";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "KyivTypeVariableSans500";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "KyivTypeVariableSans600";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "KyivTypeVariableSans700";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "KyivTypeVariableSans800";
  src: url("./KyivTypeVariableSans/font.woff2") format("woff2"),
    url("./KyivTypeVariableSans/font.woff") format("woff");
  font-weight: 800;
}

.font-sans {
  font-family: KyivTypeVariableSans;
}

.font-sans-300 {
  font-family: KyivTypeVariableSans300;
}

.font-sans-500 {
  font-family: KyivTypeVariableSans500;
}

.font-sans-600 {
  font-family: KyivTypeVariableSans600;
}

.font-sans-700 {
  font-family: KyivTypeVariableSans700;
}

.font-sans-800 {
  font-family: KyivTypeVariableSans800;
}
